.error-box {
    min-height: calc(100vh - 280px);
    width: 75%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 40px;
    text-align: center;
}

.error-box figure {
    padding: 100px 0px;
    margin: 0;
}

.error-box h1 {
    text-align: center;
    font-size: 100px;    
    margin: 0px;
}

.error-box h2 {
    font-size: 20px;
}

.error-box>a, .error-box>a:link, .error-box>a:visited, .error-box>a:hover {
    text-decoration: underline;
}

@media only screen and (min-width: 768px) {
    .error-box h1 {
        font-size: 250px;
    }
    .error-box h2 {
        font-size: 34px;
    }
}
