.fiche-complet {
    margin: 20px 0px;
    min-height: calc(100vh - 220px);
}

.fiche-cover-photo {
    width: 100%;
    height: 260px;
    border-radius: 10px;
    object-fit: cover;
    margin-bottom: 30px;
}

#carousel-photo {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-next, .button-prev {
    position: absolute;
    height: 50px;
    width: 40px;
}

.button-prev {
    left: 0px;
}

.button-next {
    right: 0px;
}

.position {
    color: white;
    position: absolute;
    bottom: 40px;
    font-size: 20px;
}

.fiche-infos {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.6px;
}

.fiche-primary-infos h1 {
    font-size: 30px;
    margin: 0px;
}

.fiche-location {
    margin-top: 6px;
}

.tag-option-list {
    padding: 0;
    margin: 20px 0px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 8px;
}

.tag-item {
    list-style-type: none;
    background-color: #FF6060;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 12px;
    height: 24px;
    font-size: 12px;
    font-weight: 100;
    border-radius: 8px;
}

.fiche-secondary-infos {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
}

.fiche-host-infos {
    display: flex;
    width: 150px;
    height: 70px;
    margin: 0px;
    align-items: center;
    gap: 18px;
}

.fiche-host-name {
    text-align: right;
    line-height: 22px;
}

.fiche-host-photo {
    width: 60px;
    height: 60px;
    border-radius: 50px;
}

.fiche-rating {
    margin: 20px 0px;
}

.fiche-dropdowns {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.fiche-dropdowns p {
    font-size: 18px;
}

.fiche-dropdowns .dropdown-bar-closed, .fiche-dropdowns .dropdown-bar-open {
    margin: 0px;
}

.fiche-dropdowns .dropdown-option {
    padding: 6px 0px 20px 0px;
    line-height: 22px;
}

.equipment-option-list {
    padding: 0;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
}

.equipment-option {
    list-style-type: none;
}


@media only screen and (min-width: 768px) {
    .fiche-cover-photo {
        height: 350px;
        border-radius: 16px;
    }
    .fiche-infos {
        flex-direction: row;
    }
    .fiche-secondary-infos {
        width: 75%;
    }
    .fiche-secondary-infos {
        width: 50%;
        flex-direction: column;
        align-items: flex-end;
        justify-content: end;
    }
    .fiche-dropdowns {
        display: flex;
        flex-direction: row;
        gap: 40px;
    }
    .button-next, .button-prev {
        height: 110px;
        width: 80px;
    }
    .button-next {
        right: 0px;
    }
}
