.kasa-banner{
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
text-transform: uppercase;
font-size: 12px;
}

.kasa-logo-banner {
    height: 40px;
}

.nav-banner {
    display: flex;
    gap: 20px;
}

.nav-banner a {
    line-height: 34.22px;
}

@media only screen and (min-width: 768px) {
    .kasa-banner {
        text-transform: none;
        font-size: 24px;
    }
    .kasa-logo-banner {
        height: 55px;
    }
    .nav-banner {
        gap: 50px;
    }
}
